@import './reviews';
@import './tasks';
@import './requests';
@import './signin';
@import './nav';
@import './dashboard';
@import './mediaQueries';

.App {
  position: relative;
}

body {
  background-color: $background-color;
}
.Auth {
  background-color: $background-color;
  img {
    width: 50%;
  }
}
