@import '../_variables';

.requestLeftDiv {
  width: 500px;
  max-height: 500px;

  background: $box-background;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  margin: 12px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.requestRightDiv {
  height: 262px;
  overflow: scroll;
  background: $box-background;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.requestCheckoutButton {
  width: 199px;
  height: 30px;
  background: $reddish;
  color: #fff;
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  justify-content: center;
}

.checkoutButton {
  color: #fff;
  height: 50px;
  background: $reddish;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  margin-right: 25px;
}

.requestHeader {
  text-align: center;
  color: #fff;
  background: $requestHeader-color;
  padding-left: 8px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.removeItemButton {
  border-radius: 50%;
  border: 1px solid $reddish;
  background: #fff;
  color: $reddish;
  width: 20px;
  height: 20px;
  line-height: 12px;
}

.cart {
  list-style: none;
}

.checkoutHeader {
  text-align: center;
  background: $checkoutHeader-color;
  color: #fff;
}
