@import '../variables';

.reviewsToGiveDiv {
  height: 313px;
  overflow: scroll;
  background: #ffffff;
  border-radius: 3px;
}

.previousReviewsGivenDiv {
  height: 500px;
  overflow: scroll;

  background: #fafafa;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  margin: 12px;
}

.reviewsGivenToYouDiv {
  height: 500px;
  overflow: scroll;
  background: #fafafa;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  margin: 12px;
  padding-left: 8px;
}

.reviewGivenDiv {
  background: #ffdfdf;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  width: 80%;
  padding: 1%;
  margin: 1%;
  padding-left: 8px;
}

.previousReviewsGivenByYou {
  background: #ececec;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  width: 80%;
  padding: 1%;
  margin: 1%;
}

.reviewTaskHeader {
  color: #fff;
  background-color: $reviewTaskHeader;
}
