@import '../_variables';

.tasksOffered {
  position: relative;
  width: 500px;
  height: 800px;
  overflow: scroll;
  background: $box-background;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  margin: 12px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.tasksToComplete {
  width: 500px;
  max-height: 500px;
  overflow: scroll;
  background: $box-background;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  margin: 12px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.completedTasks {
  width: 225px;
  height: 165px;
  overflow: scroll;
  background: $box-background;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}

.createServiceButton {
  bottom: 5px;
  left: 5px;
}

.taskHeader {
  text-align: center;
  color: #fff;
  background: $taskHeader-color;
  padding-left: 8px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
