$background-color: #fff;

$requestHeader-color: #ff4b4b;

$checkoutHeader-color: #ff4b4b;

$taskHeader-color: #ff4b4b;

$taskRightSide-color: #fff8f8;

$pendingTask-color: #fafafa;

$completedTaskColor: #effcff;

$reviewTaskHeader: #000;
