$background-color: #5cdb95;

$lipstick-color: #d05a72;

$box-background: #eae1df;

$accentColor: #005366;

$requestHeader-color: #005366;

$checkoutHeader-color: #005366;

$taskHeader-color: #005366;

$taskRightSide-color: #fff8f8;

$pendingTask-color: #fafafa;

$completedTaskColor: #effcff;

$reviewTaskHeader: #005366;

$reddish: #ff4b4b;
